.body {
    margin: 0px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hidden {
    display: none;
}

#help-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    max-width: 400px;
    padding: 20px;
    text-align: center;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.6);
    height: auto;
    margin: 0px auto;
    border-radius: 18px;
}

#help-menu.hidden {
    display: none;
}

button {
    padding: 2px 4px;
    margin-top: 10px;
}